<h1>Thêm mới</h1>
<form action="/add" method="post">
    <table border="1">
        <tr>
            <th>LABLE</th>
            <th>VALUE</th>
        </tr>
        <tr>
            <td>Phone:</td>
            <td><input type="number" name="phone"></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input type="text" name="password"></td>
        </tr>
        <tr>
            <td>TypeRegister:</td>
            <td><input type="text" name="register"></td>
        </tr>
        <tr>
            <td>Full name:</td>
            <td><input type="text" name="fname"></td>
        </tr>
        <tr>
            <td>Type User:</td>
            <td><input type="number" name="type"></td>
        </tr>

    </table>


    <!-- EnableFCM: <input type="number" name="enable"><br>
    Avarta: <input type="text" name="avarta"><br>
    Banner: <input type="text" name="banner"><br>
    Full name: <input type="text" name="fname"><br>
    Type User: <input type="number" name="type"><br> -->

    <button type="submit">Thêm</button>
</form>